.banner {
  line-height: 0;

  background-color: @bg-grey;
  .bg-banner-mobile;
}

.banner .banner__slogan {
  color: @font-white;

  background-color: @bg-grey;
}

.index-main .banner__slogan {
  .visually-hidden;
}

@media (min-width: @desktop-width) {
  .banner {
    background: none;
  }
}
