.active(@color) {
  color: fade(@color, 30%);
}

.button {
  display: block;
  box-sizing: border-box;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;

  border-width: 3px;
  border-style: solid;
  border-radius: 45px;
}

.button:hover {
  outline: none;
}

.button--download {
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 36px;
  padding-right: 36px;
  color: @font-white;

  background-color: transparent;
  border-color: @font-white;
}

.button--download:hover {
  color: @font-red;

  background-color: @bg-white;
}

.button--download:active {
  .active(@font-red);
}

.button--upload {
  color: @font-red;

  background-color: @bg-white;
  border-color: @font-red;
}

.button--upload:hover {
  color: @font-white;

  background-color: @bg-red;
}

.button--upload:active {
  .active(@font-white);
}

.button--cancel {
  color: fade(@font-dark, 10%);

  background-color: @bg-white;
  border-color: fade(@font-dark, 10%);
}

.button--cancel:hover {
  color: fade(@font-dark, 30%);

  background-color: @bg-white;
  border-color: fade(@font-dark, 30%);
}

.button--cancel:active {
  .active(@font-white);

  background-color: fade(@bg-grey, 30%);
  border-color: fade(@font-dark, 30%);
}

@media (min-width: @tablet-width) {
  .button--download {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (min-width: @desktop-width) {
  .button--download {
    padding-left: 29px;
    padding-right: 29px;

    font-size: 21px;
  }
}
