.competition-form {
  .center-100vw;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  color: @font-dark;
  font-size: 18px;
  line-height: 30px;

  background-color: @bg-white;
}

.competition-form__field-label {
  display: block;
  margin-bottom: 11px;
  padding-left: 25px;
}

.competition-form > * {
  width: @mobile-width;
  box-sizing: border-box;
}

.competition-form__text-input {
  width: 100%;
  margin-bottom: 23px;
}

.competition-form__button-submit.button-submit {
  margin-bottom: 35px;
}

.competition-form__note {
  margin: 0;
  padding: 0;

  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.competition-form__note-star {
  color: @font-red;
}

@media (min-width: @tablet-width) {
  .competition-form {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .competition-form > * {
    order: 3;
    width: @tablet-width;
  }

  .competition-form__group--username {
    order: -1;
  }

  .competition-form__group--apps {
    order: 1;
  }

  .competition-form__group--contacts.form-group--border {
    order: 2;
    margin-bottom: 61px;
  }

  .competition-form__group--progress.form-group--border {
    padding-bottom: 17px;
  }

  .competition-form__group--review.form-group--border {
    margin-bottom: 66px;
    padding-top: 43px;
  }

  .competition-form__field-label {
    padding-left: 0;
    padding-right: 23px;
  }

  .competition-form__text-input {
    width: auto;
  }

  .competition-form__field-label--tel {
    order: 2;
  }

  .competition-form__text-input--email {
    order: 3;
  }

  .competition-form__field-label--email {
    order: 4;
    margin-bottom: 30px;
  }

  .competition-form__group--contacts .competition-form__text-input {
    margin-bottom: 17px;
  }

  .competition-form__group--contacts .competition-form__field-label {
    margin-bottom: 34px;
    margin-left: 22px;
  }

  .competition-form__button-submit {
    margin-right: 140px;
  }

  .competition-form__note {
    align-self: baseline;
    width: auto;
    margin-top: 20px;
  }
}

@media (min-width: @desktop-width) {
  .competition-form {
    position: relative;

    justify-content: space-between;
    width: 942px;
  }

  .competition-form::before {
    .pseudo-absolute;
    .center-100vw;

    background-color: @bg-white;
  }

  .competition-form > * {
    position: relative;
    z-index: 2;
  }

  .competition-form__group--apps.form-group--border {
    margin-bottom: 65px;
  }

  .competition-form__group--contacts.form-group--border {
    margin-bottom: 67px;
  }
}
