.contacts-card {
  .center-100vw;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 320px;
}

.contacts-card::before,
.contacts-card::after {
  .pseudo-absolute;

  top: 100%;
  left: auto;
  z-index: 2;

  width: 50%;
  height: 48px;

  background-color: red;
}

.contacts-card::before {
  .bg-diagonal(@bg-white, transparent);

  left: 0;

  transform: scale(-1, 1);
}

.contacts-card::after {
  .bg-diagonal(@bg-white, transparent);
  right: 0;
}

.contacts-card > * {
  width: 320px;
}

.contacts-card__slogan {
  margin-bottom: 33px;
}

.contacts-card__item {
  margin-bottom: 25px;
}
