.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;

  font-size: 18px;
  text-align: center;
}

.contact__header {
  font-weight: 700;
}

.contact__value {
  display: block;

  color: @font-red;
  font-size: 24px;
  line-height: 29px;
}

.contact__value-mail {
  color: @font-red;
}

.contact__value-mail:hover {
  color: @font-dark;
}

.contact__value-mail:active {
  color: fade(@font-dark, 30%);
}

.contact__value--address {
  width: 215px;
}

@media (min-width: @tablet-width) {
  .contact__value {
    margin-top: 7px;
  }
}

@media (min-width: @desktop-width) {
  .contact__value {
    margin-top: 25px;
  }
}
