.contacts-card {
  position: relative;

  background-color: red;
}
/*
.contacts-card::before,
.contacts-card::after {
  position: absolute;
  bottom: 0;

  display: block;
  width: 50%;
  height: 36px;

  content: "";
}

.contacts-card::before {
  left: 0;

  background: linear-gradient(to left bottom, @bg-color 50%, transparent 50%);
}

.contacts-card::after {
  right: 0;

  background: linear-gradient(to right bottom, @bg-color 50%, transparent 50%);
}
*/
