.download-app {
  position: relative;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 30px;

  color: @font-white;
}

.download-app::before {
  .pseudo-absolute;
  .center-100vw;

  z-index: -2;

  min-width: 320px;

  background-color: @bg-dark-grey;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-position: bottom 52px center;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.download-app__banner {
  margin-bottom: 3px;
}

.download-app__button {
  position: relative;
  z-index: 2;

  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 31px;
}

.download-app__description {
  position: relative;

  width: 240px;
  margin: 0;
  margin-left: 40px;
  margin-right: 40px;
  padding: 0;

  font-weight: 300;
  text-align: center;
}

.download-app__description::before {
  .pseudo-absolute;
  .center-100vw;

  z-index: -1;

  height: calc(100% + 30px);

  background-color: @bg-dark-grey;
}

.download-app__list {
  position: relative;

  margin-bottom: 13px;
  margin-left: 57px;
  margin-right: 50px;
}

.download-app__list-item {
  position: relative;

  margin-bottom: 10px;
}

.download-app__list-item:not(:nth-of-type(3n)) {
  margin-right: 32px;
}

.download-app__picture-wrapper {
  position: relative;
  bottom: 0;

  margin-bottom: 27px;

  line-height: 0;
}

@media (min-width: @tablet-width) {
  .download-app {
    flex-direction: column;
    padding-bottom: 110px;
  }

  .download-app::before {
    background-color: #2b3a4a;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: bottom 37px center;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: cover;
    }
  }

  .download-app__banner {
    margin-bottom: 5px;
  }

  .download-app__button {
    position: relative;
    z-index: 2;

    margin-bottom: 45px;
    margin-left: 21px;
    margin-right: auto;
  }

  .download-app__list {
    position: relative;
    z-index: 2;

    margin-bottom: 27px;
    margin-right: auto;
    margin-left: 68px;
  }

  .download-app__description {
    position: relative;
    z-index: 2;

    width: 300px;
    margin-left: 21px;
    margin-right: auto;

    font-size: 18px;
  }

  .download-app__description::before {
    display: none;
  }

  .menu-closed .download-app {
    padding-top: 92px;
  }

  .download-app__picture-wrapper {
    position: absolute;
    top: auto;
    bottom: -27px;
    left: -21px;
  }
}

@media (min-width: @desktop-width) {
  .download-app {
    padding-bottom: 121px;

    background-color: transparent;
    background-image: none;
  }

  .menu-closed .download-app {
    padding-top: 203px;
  }

  .download-app::before {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: top 11px center;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: cover;
    }
  }

  .download-app__banner {
    margin-bottom: 51px;
    margin-left: 0;
    margin-right: auto;
    padding-top: 16px;
  }

  .download-app__button {
    margin-left: 10px;
    margin-bottom: 68px;
  }

  .download-app__list {
    margin-bottom: 45px;
    margin-left: 59px;
  }

  .download-app__description {
    margin-left: 10px;
  }

  .download-app__picture-wrapper {
    position: absolute;
    top: auto;
    bottom: -1px;
    left: 25px;

    margin-bottom: 0;
  }
}
