.features__slogan {
  margin-bottom: 26px;
}

.features__slogan:last-of-type {
  margin-bottom: 21px;
}

.features__list {
  margin: 0;
  margin-bottom: 42px;
}

@media (min-width: @tablet-width) {
  .features {
    position: relative;
  }

  .features__slogan {
    margin-bottom: 0;
  }

  .features__slogan:last-of-type {
    margin-bottom: 33px;
  }

  .features__list {
    margin-bottom: 97px;
  }
}

@media (min-width: @desktop-width) {
  .features {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .features::before {
    .pseudo-absolute;
    .center-100vw;

    z-index: -1;

    min-width: 1200px;

    background-color: @bg-white;
  }

  .features__slogan {
    margin-left: auto;
    margin-right: auto;
  }

  .features__slogan:last-of-type {
    margin-bottom: 73px;
  }

  .features__list.features-list {
    margin-bottom: 0;
  }

  .features__scientific {
    margin-bottom: 74px;
  }
}

@media (max-width: @tablet-width - 1px) {
  .features__scientific {
    .visually-hidden;
  }
}
