.features-list {
  position: relative;

  margin: 0;
  padding: 0;
  padding-top: 84px;

  background-color: transparent;
}

.features-list::before {
  .pseudo-absolute();
  height: calc(100% + 319px);

  background-color: @bg-light-grey;
}

.features-list::after {
  .pseudo-absolute;
  .bg-diagonal(@bg-white, @bg-light-grey);

  z-index: 1;

  height: 35px;
}

.features-list__item {
  position: relative;
  z-index: 2;

  margin-bottom: 30px;
}

.features-list__item-header {
  margin-bottom: 12px;

  color: @font-black;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.features-list__item-description {
  width: 246px;
  margin: 0;
  margin-left: 38px;
  margin-right: 38px;
  padding: 0;

  text-align: center;
}

@media (min-width: @tablet-width) {
  .features-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
  }

  .features-list::before {
    .pseudo-absolute;

    left: 50%;

    width: 100vw;

    transform: translateX(-50%);
  }

  .features-list::after {
    .pseudo-absolute;
    .bg-diagonal(@bg-white, @bg-light-grey);

    left: 50%;

    width: 100vw;
    height: 62px;

    transform: translateX(-50%);
  }

  .features-list__item {
    width: 310px;
    margin-left: auto;
    padding-right: 20px;
  }

  .features-list__item-header,
  .features-list__item-description {
    margin: 0;
    padding: 0;

    text-align: left;
  }

  .features-list__item-header {
    margin-bottom: 11px;
  }

  .features-list__item-description {
    width: 306px;
    margin-bottom: 5px;
  }
}
