.form-group {
  margin: 0;
  padding: 0;

  border: none;
}

.form-group--grey {
  background-color: @bg-light-grey;
}

.form-group__header {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;

  text-align: center;

  background-color: inherit;
}
