.form-field {
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 21px;
  padding-right: 15px;
  box-sizing: border-box;

  color: @font-dark;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;

  background-color: @bg-white;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
}

.form-field--review {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.form-field::placeholder {
  color: @font-dark;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.form-field:hover {
  border: 2px solid @font-dark;
}

.form-field:focus,
.form-field:active {
  border: 2px solid @font-red;

  outline: none;
}

@media (min-width: @tablet-width) {
  .form-field {
    flex-grow: 1;
    min-width: 500px;
    margin-bottom: 52px;
  }

  .form-field--tel {
    background:
      url("../img/icon-phone.svg") no-repeat center right 18px,
      linear-gradient(to right, @bg-white 438px, #e5e5e5 438px);
  }

  .form-field--email {
    background:
      url("../img/icon-mail.svg") no-repeat center right 19px,
      linear-gradient(to right, @bg-white 438px, #e5e5e5 438px);
  }

  .form-field--review {
    margin-bottom: 29px;
    padding-bottom: 24px;
  }
}
