.form-field {
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 21px;
  padding-right: 15px;
  box-sizing: border-box;

  color: @font-dark;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;

  background-color: @bg-white;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
}

textarea.form-field {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.form-field::placeholder {
  color: @font-dark;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.form-field:hover {
  border: 2px solid @font-dark;
}

.form-field:focus,
.form-field:active {
  border: 2px solid @font-red;

  outline: none;
}
