.inner-main {
  margin-bottom: 55px;
}

.inner-main__main-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding-top: 92px;
  padding-bottom: 52px;
}

.inner-main__main-description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 43px;
  padding-bottom: 41px;
}

@media (min-width: @tablet-width) {
  .inner-main__main-header {
    padding-top: 132px;
    padding-bottom: 81px;
  }

  .inner-main__main-description {
    padding-top: 92px;
    padding-bottom: 71px;
  }
}

@media (min-width: @desktop-width) {
  .inner-main__main-header {
    padding-top: 63px;
    padding-bottom: 102px;
  }

  .inner-main__main-description {
    .center-100vw;

    position: relative;

    padding-bottom: 68px;

    background-color: @bg-white;
  }
}
