.page-footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: @tablet-width;
  padding-bottom: 36px;
  padding-left: 20px;
  padding-right: 13px;
  box-sizing: border-box;
}

.page-footer__logo {
  margin-right: 73px;
}

.page-footer__social-list-item {
  margin-right: 9px;
}

.page-footer__dev-info {
  margin-top: 8px;
  margin-left: auto;
}

@media (max-width: @tablet-width) {
  .page-footer {
    .visually-hidden;
  }
}
