.photoeditor {
  background-color: @bg-light-grey;
}

.photoeditor__image-full {
  font-size: 0;
  line-height: 0;
}

.photoeditor__box-input {
  margin: 0;
  margin-top: 18px;
  margin-left: 20px;
  padding: 0;
}
