.post-of-the-day {
  position: relative;

  overflow-x: visible;
}

.post-of-the-day__header {
  position: absolute;

  display: block;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;

  color: @font-white;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  background-color: @bg-red;
}
