.post-of-the-day {
  position: relative;

  overflow-x: visible;
}

.post-of-the-day__header {
  position: absolute;
  right: 0;

  display: block;
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;

  color: @font-white;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  background-color: @bg-red;
}

@media (min-width: @tablet-width) {
  .post-of-the-day__header {
    top: 57px;
  }
}
