.rates {
  .center-100vw;

  min-width: 320px;
  padding-top: 51px;
  padding-bottom: 46px;
  overflow-x: hidden;

  background-color: @bg-light-grey;
}

.rates__table {
  margin-bottom: 32px;
}

@media (min-width: @tablet-width) {
  .rates {
    padding-top: 42px;
    padding-bottom: 39px;
  }

  .rates__slider-bullets {
    .visually-hidden;
  }
}

@media (min-width: @desktop-width) {
  .rates {
    position: relative;

    padding-top: 105px;
    padding-bottom: 66px;
    overflow-x: visible;

    background-color: transparent;
  }

  .rates::before {
    .pseudo-absolute;
    .center-100vw;

    z-index: -1;

    min-width: 1200px;
    height: calc(100% - 1px);

    background-color: @bg-light-grey;
  }
}
