.rates {
  .center-100vw;

  position: relative;

  overflow-x: hidden;

  background-color: @bg-light-grey;
}

.rates::before {
  .pseudo-absolute;
  .center-100vw;
  .bg-diagonal(@bg-white, @bg-light-grey);

  height: 35px;
}
