.responses-list__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  text-align: center;
}

.responses-list__item-header {
  display: block;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  color: @font-black;
  font-size: 18px;
}

.responses-list__item-description {
  width: 270px;
  margin: 0;
  padding: 0;
}
