.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list__item {
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;

  text-align: center;
  text-transform: uppercase;
}

.site-list__item:hover {
  color: @font-red;

  text-decoration: none;
}

.site-list__item:active {
  color: fade(@font-white, 30%);
}

.site-list__item,
.site-list__item--active,
.site-list__item--active:hover,
.site-list__item--active:active {
  color: @font-white;
  text-decoration: none;

  background-color: @bg-grey;
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.15),
    0 -1px 0 0 #000000;
}

.main-nav__list-item:last-of-type .site-list__item {
  padding-bottom: 14px;

  border-bottom: 1px solid #000000;
}

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    margin-left: 161px;


    background-color: transparent;
    border: none;
  }

  .site-list__item,
  .site-list__item--active,
  .site-list__item--active:hover {
    width: auto;
    padding-top: 19px;

    line-height: 18px;
    font-weight: 400;
    text-transform: none;

    background-color: transparent;
    box-shadow: none;
  }

  .site-list__item:hover {
    box-shadow: none;
  }

  .main-nav__list-item:not(:nth-of-type(4n)) .site-list__item {
    margin-right: 84px;
  }

  .main-nav__list-item:last-of-type .site-list__item {
    border-bottom: none;
  }
}
