.slogan {
  margin: 0;
  padding: 0;

  color: @font-dark;
  font-size: 24px;
  line-height: 30px;
  font-weight: 200;
  text-align: center;

  background-color: @bg-white;
}

.slogan--white {
  position: relative;
  z-index: 2;

  display: block;
  width: 233px;

  color: @font-white;
  background-color: transparent;
}

.slogan.contacts-card__slogan {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: @tablet-width) {
  .slogan.features__slogan {
    margin-bottom: 0;

    font-size: 40px;
    line-height: 48px;
  }

  .slogan:nth-of-type(2) {
    width: 354px;
    padding-left: 153px;
    padding-right: 153px;
  }

  .slogan.contacts-card__slogan {
    width: 378px;

    font-size: 40px;
    line-height: 50px;
  }

  .slogan--white {
    width: 495px;

    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .slogan.features__slogan {
    margin-left: auto;
    margin-right: auto;

    font-size: 50px;
    line-height: 60px;
  }

  .slogan:nth-of-type(2) {
    width: 573px;
  }

  .slogan.contacts-card__slogan {
    width: 477px;
    padding-left: 0;
    padding-right: 0;

    font-size: 50px;
    line-height: 60px;
  }

  .slogan--white {
    width: 799px;
  }
}
