.static-map {
  width: 100%;
  height: 200px;
  padding-top: 14px;

  background-color: @bg-light-grey;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-position: bottom center;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
    background-size: cover;
  }
}

.static-map::before {
  .pseudo-absolute;
  top: auto;
  bottom: 66px;
  left: 46%;

  width: 40px;
  height: 40px;

  background-color: @font-red;
  background-image: url("../img/icon-map-marker.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .static-map {
    height: 387px;
    padding-top: 15px;

    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position: bottom 28% center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      background-size: cover;
    }
  }

  .static-map::before {
    bottom: 143px;
    left: 48%;
  }
}

@media (min-width: @desktop-width) {
  .static-map {
    height: 485px;

    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-position: bottom -199px center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
      background-size: cover;
    }
  }

  .static-map::before {
    bottom: 199px;
  }
}
