.tool {
  min-height: 66px;
}

.tool__label {
  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;

  color: fade(@font-black, 30);
}

.tool__label--contrast {
  width: 33px;
  height: 33px;
  padding-top: 7px;
  padding-left: 7px;
}

.box-input:checked + .tool__label {
  color: @font-red;
}

.tool__label:hover {
  color: fade(@font-black, 50);
}

.tool__label-img {
  position: relative;
}

.tool__scale {
  display: none;
  width: 240px;
  height: 2px;

  background-color: @font-dark;
}

.box-input:checked ~ .tool__scale {
  display: block;
}

.tool__scale-control {
  position: absolute;
  top: -7px;
  left: 191px;
  z-index: 2;

  width: 15px;
  height: 15px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: @bg-white;
  border: 2px solid @font-red;
  border-radius: 50%;
}

.tool__scale-control:active,
.tool__scale-control:focus {
  background-color: @font-red;
}

@media (min-width: @tablet-width) {
  .tool {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    min-height: 48px;
    height: 48px;
  }

  .tool__scale {
    display: block;
    width: 203px;
    margin-top: 12px;
  }

  .tool__label {
    width: 25px;
    height: 25px;
    margin-right: 10px;

    color: @font-red;
  }

  .tool__label--fill {
    top: 4px;
  }

  .tool__label--contrast {
    width: 18px;
    height: 17px;

    margin-right: 11px;
  }

  .tool__scale--crop .tool__scale-control {
    left: 146px;
  }

  .tool__scale--fill .tool__scale-control {
    left: 25px;
  }

  .tool__scale--contrast .tool__scale-control {
    left: 96px;
  }

  .box-input:checked + .tool__label:hover {
    color: fade(@font-black, 50);
  }
}

@media (min-width: @desktop-width) {
  .tool {
    min-height: 59px;
    height: auto;
  }

  .tool__label {
    width: 48px;
    height: 48px;
    margin-right: 71px;
  }

  .tool__scale {
    width: 290px;
    margin-top: 23px;
  }

  .tool__label--contrast {
    top: 0;
    left: 0;

    width: 35px;
    height: 35px;
    margin-right: 76px;
  }

  .tool__scale--crop .tool__scale-control {
    left: 72px;
  }

  .tool__scale--fill .tool__scale-control {
    left: 248px;
  }

  .tool__scale--contrast .tool__scale-control {
    left: 162px;
  }
}
