body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: @font-dark;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  background-color: @bg-white;

  overflow-x: hidden;
}

body > * {
  width: 320px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  body > * {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  body {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: top center;
    background-repeat: no-repeat;
  }

  body > * {
    width: @desktop-width;
  }
}
