/*---- фоновые изображения ----*/

.bg-diagonal(@color-top, @color-bottom) {
  background: linear-gradient(to right bottom, @color-top 50%, @color-bottom 50%);
}

/*---- псевдоэлемент ----*/

.pseudo-absolute {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  content: "";
}

/*---- visually-hidden ----*/

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-absolute {
  position: absolute;

  width: auto;
  height: auto;

  clip-path: none;
  clip: none;
  overflow: visible;
}
